*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    min-height: 100vh;
    background: linear-gradient(to right  top ,#65dfc9,#6cdbec);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background-color: #fffcff;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right top,rgb(255,255,255,0.7),rgb(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(5px);
    display: flex;
}

.circle1,.circle2{
    background-color: #fffcff;
    background: linear-gradient(to right bottom,rgb(255,255,255,0.9),rgb(255,255,255,0.1));
    height: 10rem;
    width: 10rem;
    position:absolute;
    
}

.circle1{
    top:5%;
    right:10%;
}
.circle2{
    bottom: 5%;
    left:10%;
}


.dashboard{
    /* background-color: #fffcff; */
    flex:1;

}
.game{
    /* background-color: #fffcff; */
    flex:3;
}