.box{
    margin-left: auto;
    margin-right: auto;
    background-attachment: fixed;
    background-image: url("https://image.shutterstock.com/z/stock-vector-internet-digital-syber-security-technology-concept-for-business-background-lock-on-circuit-board-1518108761.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginbox{
  margin-top: auto;
  height: 90%;
  width: 80%;
  overflow: hidden;
  background-color: lightslategray;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* background-attachment: fixed;
    background-image: url("https://image.shutterstock.com/z/stock-vector-internet-digital-syber-security-technology-concept-for-business-background-lock-on-circuit-board-1518108761.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
 

}

.loginbox2{
  margin-top: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-attachment: fixed;
    background-image: url("https://image.shutterstock.com/z/stock-vector-internet-digital-syber-security-technology-concept-for-business-background-lock-on-circuit-board-1518108761.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
 

}

.imgprofile{
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
}
.MuiFormControl-root , .MuiTextField-root{
  width: 60%;
}

.form-box{
  margin: 1%;
}


div.MuiFormControl-root ,div.MuiTextField-root
,input.MuiInputBase-input ,input.MuiFilledInput-input{
background-color: aliceblue;

}

.btn-box{
  margin-top: 20px;
  margin-right: 20px !important;
  width: 20%;
}

@media screen and (max-width: 480px) {
    .imgprofile{
      height: 150px;
      width: 150px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 5%;
    }
    .MuiFormControl-root , .MuiTextField-root{
      width: 80%;
    }
    
    .form-box{
      margin: 5%;
    }

    .btn-box{
      margin-top: 20px;
      margin-right: 5% !important;
      width: 20%;
      justify-content: center;
    }

    div.MuiFormControl-root ,div.MuiTextField-root
    ,input.MuiInputBase-input ,input.MuiFilledInput-input{
    background-color: aliceblue;
    
    }
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }