* {
  padding: 0;
  margin: 0;

}

.boxlogin{
    width: 60vw;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa !important;
    box-shadow: 2px 2px 6px ;
    box-sizing: border-box;
}


.imgprofile{
    width: 100% !important;
    height:100px !important ;
    margin-bottom: 5px;
    overflow: hidden;
}
.imgprofile img{
    width: 100px !important;
    height: 100px !important;
    border-radius: 80%;
}

.forml{
    width: 100% !important;
    margin:5px auto;
    justify-items: center;
    align-items: center;
}
.forml form{
    width: 100% !important;
    display: grid !important;
    grid-template-columns: repeat(1,1fr) !important;
}

.forml form .inputform{
   display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5px auto
    
}
.forml form .inputform label{
    float: left !important;
    width: 50px;
 }

 .forml form .inputform input{
    float: left !important;
    width: 100%;
    height: 40px;
    /* background-color: #f6f6f4; */
    
    border-radius: 2%;
    padding-left: 5px;
 }
 .forml form .inputform input:hover{
    
    transition: 2s ease;
 }
  

 .btnlogin {
     width: 50%;
    display: flex;
    justify-content: space-between;

 }
 .btn-beautiful{
    
       width: 40%;
       margin: 5px;
       
 }