
.profileImg{
    
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center right;
}

.header{
    
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap : 5px;
    min-height: 350px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-image: url("https://images.unsplash.com/photo-1609004797124-7ef0f62d2181?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80");
    
}
.headerline{
    position: relative;
    margin-top: 5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
}

.headerline > h1{
    position: relative;
    text-align: center;
    justify-content: center;
    color :coral;
    font-weight: 900;
}
.headerline > h3{
    position: relative;
    text-align: center;
    justify-content: center;
    color :#f1f1f1;
    font-weight: 700;
}

.headerline > p{
    text-align: left;
    justify-content: left;
    color :#e2dcdc;
    font-weight: 500;
    margin: 2% 15% 0% 15% ;
}


.profileInfo{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-gap: 15px;
    margin: 2% 5% 0% 5%;
    height: 100%;
    min-height: 300px;
}


 .information{
    /* grid-column: 1; */
    /* position: relative; */
    min-height: 300px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.history{
    grid-column: auto / span 2;
    /* position: relative; */
    min-height: 300px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
q {
    quotes: "“" "”" "‘" "’";
  }
  q::before {
      content: open-quote;
  }
  q::after {
      content: close-quote;
  }