



/* main > .bg{
    height: 100% !important;
    width: 100% !important;
    background-color: rgb(2,211, 248) !important;
    clip-path: polygon(48% 0, 100% 0, 100% 44%, 35% 100%, 0 100%, 0 40%) !important;
    position:absolute !important;
    z-index: 5 !important;
} */


@keyframes blink
{
    0%{
        background-color:violet !important;
        background-blend-mode: lighten !important;
    }
    15%{
        background-color:indigo !important;
        background-blend-mode: darken !important;
    }
    30%{
        background-color:blue !important;
        background-blend-mode: difference !important;
    }
    42%{
        background-color:green !important;
    }
    58%{
        background-color:yellow !important;
    }
    70%{
        background-color:red !important;
    }
    100%{
        background-color:violet !important;
    }
}


@-webkit-keyframes  blink {

        0%{
            background-color:violet !important;
        }
        15%{
            background-color:indigo !important;
        }
        30%{
            background-color:blue !important;
        }
        42%{
            background-color:green !important;
        }
        58%{
            background-color:yellow !important;
        }
        70%{
            background-color:red !important;
        }
        100%{
            background-color:violet !important;
        }
    }



    main{
        min-height: 100vh !important;

        background-image: url("https://images.unsplash.com/photo-1599685661038-1c794448a37e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" ) !important;
        /* background-color: linear-gradient(to right  top ,#65dfc9,#6cdbec); */
        background-color: #00ce2c !important;
        background-attachment: fixed !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        background-blend-mode: lighten !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        animation:  blink !important;
        -webkit-animation: blink !important;
    }

    .bg{
        min-height: 80vh;
        min-width:   80vw;
        /* background-color: rgb(177, 207, 195); */
        overflow: hidden;
        /* filter: blur(10px) ; */

    }

    form{
        display: flex;
        justify-content: center;
        width: 100vw;
        margin: 10px auto 2px auto;
    }
    .row-group{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
    .form-group{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .form-group > label{
        width: 80%;
        margin-right: 1rem;
    }