*{
    padding: 0;
    margin: 0;
}

.glassbox{
    position: relative;
    margin: auto;
    width: 80vw;
    height: 80vh;
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
    background-color: cadetblue;
  }
  
  .glassbox::after{
   content: '';
   width: 80vw;
   height: 80vh;
   background: inherit; 
   position: absolute;
   left: -25px;
   right: 0;
   top: -25px;  
   bottom: 0;
   box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
   filter: blur(10px);
  }
  